In [4]:
import pandas as pd

In [7]:
df = pd.read_excel("HelloFresh_DF.xlsx")

In [8]:
df

,Pause Week,Platform,Theme,Sub Theme,Comment count
0,W25,Website,Price,Extra charge for recipes I like,1.0
1,W26,Website,Price,Extra charge for recipes I like,1.0
2,W26,Website,Price,Extra charge for recipes I like,1.0
3,W26,Website,Price,Extra charge for recipes I like,1.0
4,W26,Website,Price,Extra charge for recipes I like,1.0
...,...,...,...,...,...
3540,W26,Website,Too many of/ Don't like certain ingredients,Mushrooms,1.0
3541,W26,Website,Too many of/ Don't like certain ingredients,Mushrooms,1.0
3542,W26,Website,Too many of/ Don't like certain ingredients,Mushrooms,1.0
3543,W26,Website,Too many of/ Don't like certain ingredients,Mushrooms,1.0
3544,W26,Website,Too many of/ Don't like certain ingredients,Rice/ Bulgur/ Couscous,1.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3545 entries, 0 to 3544
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Pause Week     3545 non-null   object
 1   Platform       3545 non-null   object
 2   Theme          3545 non-null   object
 3   Sub Theme      3545 non-null   object
 4   Comment count  3540 non-null   float64
dtypes: float64(1), object(4)
memory usage: 138.6+ KB

In [10]:
df["Pause Week"].value_counts()

W26    1662
W25    1195
W24     688
Name: Pause Week, dtype: int64

In [11]:
df["Platform"].value_counts()

Website    3545
Name: Platform, dtype: int64

In [12]:
df["Theme"].value_counts()

Menu not appealing                             1734
Menu lacked options                             578
Too many of/ Don't like certain ingredients     304
Repetetive recipes                              296
Recipes not appealing                           245
Price                                           141
Other                                           138
I have special dietary requirements             109
Name: Theme, dtype: int64

In [13]:
df["Sub Theme"].value_counts()

Not appealing to me (in general)            1046
Not enough appealing options                 513
Vegetarian                                   314
Repetetive recipes                           296
Other                                        138
Veggie options not appealing                 128
Extra charge for recipes I like              108
Too spicy                                     98
Kids friendly meals                           73
Chicken/ Turkey                               72
Pasta, pizza, burger                          71
Beef/ Pork                                    69
Fish/ Seafood                                 62
Rice/ Bulgur/ Couscous                        54
Too high in calories                          52
Healthy/ Balanced                             46
I'm vegan/ vegetarian                         43
Dairy                                         43
Not suitable for the season                   41
Too plain/simple                              36
Mushrooms                                     35
Vegan/ Plant based                            35
I'm gluten intolerant                         34
Price is not appropriate                      33
Too exotic                                    28
Too many carbs                                22
I'm on a diet                                 16
I'm allergic                                  15
Too time consuming/ difficult to prepare       7
Next weeks menu looks better                   6
Vegan Meat Alternative                         4
Potatoes                                       4
Too bland/ tasteless                           2
I'm lactose intolerant                         1
Name: Sub Theme, dtype: int64

In [14]:
df["Comment count"].value_counts()

1.0    3540
Name: Comment count, dtype: int64

In [15]:
df.isnull().any().value_counts()

False    4
True     1
dtype: int64

In [17]:
df.isnull().sum()

Pause Week       0
Platform         0
Theme            0
Sub Theme        0
Comment count    5
dtype: int64

In [18]:
df['Comment count'] = df['Comment count'].fillna((df['Comment count'].mean()))

In [19]:
df.isnull().sum()

Pause Week       0
Platform         0
Theme            0
Sub Theme        0
Comment count    0
dtype: int64